map.xsd

<?xml version="1.0"?>
<xs:schema 
    targetNamespace="https://maps.oc.tc"
    
    xmlns:octc="https://maps.oc.tc/map.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:bi="bukkitItems">
    <import namespace="bukkitItems" schemaLocation="./bukkitItems.xsd"/> 
    <element name="map" type="Map">
        <annotation>How do do this right....</annotation>
    </element>
    <complexType name="Map">
        <all>
            <attribute default="1.3.1" name="proto" type="Version"/>
            <element name="name" type="xs:string"/>
            <element name="version" type="Version"/>
            <element name="contributors" type="Contributors"/>
            <element name="objective" type="xs:string"/>
            <element name="authors" type="Authors"/>
            <element name="rules" type="Rules"/>
            <element name="tutorial" type="Tutorial"/>
            <element name="filters" type="Filters"/>
            <element name="regions" type="Regions"/>
            <element name="spawns" type="Spawns"/>
            <element name="teams" type="Teams"/>
            <element name="kits" type="Kits"/>
            <element minOccurs="0" name="cores" type="Core"/>
            <element minOccurs="0" name="wools" type="Wool"/>
            <element minOccurs="0" name="destroyables" type="Destroyables"/>
            <element minOccurs="0" name="score" type="Score"/>
            <element minOccurs="0" name="blitz" type="Blitz"/>
            <element minOccurs="0" name="killreward" type="Killreward"/>
            <element minOccurs="0" name="toolrepair" type="Toolrepair"/>
            <element minOccurs="0" name="maxbuildheight" type="xs:unsignedByte"/>
            <element minOccurs="0" name="itemreward" type="Itemreward"/>
            <element minOccurs="0" name="playable" type="Playable"/>
            <element minOccurs="0" name="destroyables" type="Destroyables"/>
            <element minOccurs="0" name="timelock" type="OnOff"/>
            <element maxOccurs="unbounded" minOccurs="0" name="include" type="Include"/>
        </all>
    </complexType>
    <complexType name="Include">
        <sequence>
            <attribute name="src" type="xs:anyURI"/>
        </sequence>
    </complexType>
    <complexType name="Version">
        <restriction base="xs:string">
            <pattern value="\d(\.\d){0,}"/>
        </restriction>
    </complexType>
    <complexType name="OnOff">
        <restriction base="xs:string">
            <pattern value="on|off"/>
        </restriction>
    </complexType>
    <complexType name="Contributors">
        <all>
            <element maxOccurs="unbounded" name="contributor" type="xs:string"/>
        </all>
    </complexType>
    <complexType name="Authors">
        <all>
            <element maxOccurs="unbounded" name="author" type="xs:string"/>
        </all>
    </complexType>
    <complexType name="Rules">
        <all>
            <element maxOccurs="unbounded" name="rule" type="xs:string"/>
        </all>
    </complexType>
</xs:schema>
