map.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://maps.oc.tc" targetNamespace="maps.oc.tc">
    <xs:element name="map" type="Map">
    </xs:element>
    <xs:complexType name="Map">
        <xs:all>
            <xs:attribute type="Version" name="proto" default="4.0.0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="version" type="Version">
            <xs:element>
            
            <xs:element name="contributors" type="Contributors"/>
            <xs:element name="objective" type="xs:string"/>
            <xs:element name="authors" type="Authors"/>
            <xs:element name="rules" type="Rules"/>
            <xs:element name="maxbuildheight" minOccurs="0" type="xs:integer"/>
            <xs:element name="filters" type="Filters"/>
            <xs:element name="regions" type="Regions"/>
            <xs:element name="spawns" type="Spawns"/>
            <xs:element name="teams" type="Teams"/>
            <xs:element name="kits" type="Kits"/>
            <xs:element name="cores" minOccurs="0" type="Core"/>
            <xs:element name="score" minOccurs="0" type="Score"/>
            <xs:element name="killreward" minOccurs="0" type="Killreward"/>
            <xs:element name="toolrepair" minOccurs="0" type="Toolrepair"/>
            <xs:element name="itemreward" minOccurs="0" type="Itemreward"/>
            <xs:element name="tutorial" type="Tutorial"/>
            <xs:element name="destroyables" minOccurs="0" type="Destroyables"/>
            <xs:element name="timelock" minOccurs="0" type="xs:string">
                <xsd:restriction base="xsd:token">
                    <xsd:pattern value="on|off"/>
                </xsd:restriction>
            <xs:element>
            
            <xs:element name="destroyables" minOccurs="0" type="Destroyables"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Version">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d(\.\d){0,}"/>
        </xsd:restriction>
    </xs:complexType>
    <xs:complexType name="Contributors">
        <xs:all>
            <xs:element name="contributor" maxOccurs="unbounded" type="xs:string">
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Authors">
        <xs:all>
            <xs:element name="author" maxOccurs="unbounded" type="xs:string">
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Rules">
        <xs:all>
            <xs:element name="rule" maxOccurs="unbounded" type="xs:string">
        </xs:all>
    </xs:complexType>
</xs:schema>
